{% extends 'common/base.html' %}

{% block title %} Add Event {% endblock title%}
{% block content %}
<center>
    <strong>Add Event To Database</strong>
    <br><br>
    {% if submitted %}
        Your Event has been Submitted Successfully!<br>
        <a href="{% url 'list-events' %}" class="btn btn-secondary ">Go To List</a> 
    {% else %}
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        </div>
    {% endif %}
</center>

{% endblock %}